POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=InterviewSimulator

KEYCLOAK_CONFIDENTIAL_CLIENT_ID=interview-confidential-client
KEYCLOAK_CONFIDENTIAL_CLIENT_SECRET=2yOPGKPFBIFqtavNPv2l16AkelMzWkht

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

GIGACHAT_CLIENT_ID=your_gigachat_client_id
GIGACHAT_CLIENT_SECRET=your_gigachat_client_secret

HOST_CODE_EXECUTION_ROOT=/absolute/path/to/project/backend/.code-exec-tmp

REGISTRATION_EXTERNAL_URL=http://localhost:3000/register
