POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=InterviewSimulator

KEYCLOAK_CONFIDENTIAL_CLIENT_ID=interview-confidential-client
KEYCLOAK_CONFIDENTIAL_CLIENT_SECRET=change_me_local_confidential_secret

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

GIGACHAT_CLIENT_ID=your_gigachat_client_id
GIGACHAT_CLIENT_SECRET=your_gigachat_client_secret
