POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_STRONG_POSTGRES_PASSWORD
POSTGRES_DB=InterviewSimulator

HOST_CODE_EXECUTION_ROOT=/opt/interview-simulator/backend/.code-exec-tmp

GIGACHAT_CLIENT_ID=YOUR_GIGACHAT_CLIENT_ID
GIGACHAT_CLIENT_SECRET=YOUR_GIGACHAT_CLIENT_SECRET

KEYCLOAK_CONFIDENTIAL_CLIENT_ID=interview-confidential-client
KEYCLOAK_CONFIDENTIAL_CLIENT_SECRET=YOUR_REALM_CLIENT_SECRET

ASPNETCORE_ENVIRONMENT=Production
Authentication__MetadataAddress=http://keycloak:8080/realms/InterviewSimulator/.well-known/openid-configuration
Authentication__RequireHttpsMetadata=false
Authentication__TokenValidationParameters__ValidIssuers__0=https://auth.siminterview.ru/realms/InterviewSimulator
Keycloak__AdminUrl=http://keycloak:8080/admin/realms/InterviewSimulator/
Keycloak__TokenUrl=http://keycloak:8080/realms/InterviewSimulator/protocol/openid-connect/token
Swagger__OAuth__ClientId=interview-public-client
Swagger__RoutePrefix=api/swagger
Swagger__OAuth__AuthorizationUrl=https://auth.siminterview.ru/realms/InterviewSimulator/protocol/openid-connect/auth
Swagger__OAuth__TokenUrl=https://auth.siminterview.ru/realms/InterviewSimulator/protocol/openid-connect/token

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://db:5432/keycloak
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=CHANGE_ME_STRONG_POSTGRES_PASSWORD
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=CHANGE_ME_STRONG_KEYCLOAK_ADMIN_PASSWORD
